
main {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: #9ece9a;

    .mid-section {
        .fcenter();
        .tshoot();
        flex-direction: column;
        background-color: @background;

        .CTA-banner {
            .fcenter();
            .tshoot();
            flex-direction: column;

            .statement2 {

                h2 {
                    font-family: @slabo;
                }
            }

            div {

                h1{
                    font-family: @slabo;
                }
            }

            .CTA-button {

                button {
                    margin: 2rem;
                }
            } //ends .CTA-button
        } // ends .CTA-banner

        .mid-boxes {
            .fcenter();
            .tshoot();

            .mid-box-1 {
                .fcenter();
                flex-direction: column;
                .tshoot();

                div {

                }

                .mid-box-text {
                    padding: 2rem;

                    p {
                        font-size: 1.4rem;
                    }
                }

                div {
                    .fcenter();
                    

                    button {
                        margin: 2rem;
                    }
                }
                
            } //ends .mid-box-1

            .mid-box-2 {
                .fcenter();
                flex-direction: column;
                .tshoot();

                div {

                }

                .mid-box-text {
                    padding: 2rem;
                    
                    p {
                        font-size: 1.4rem;
                    }
                }

                div {
                    .fcenter();
                    

                    button {
                        margin: 2rem;
                    }
                }
            } //ends .mid-box-2

            .mid-box-3 {
                .fcenter();
                flex-direction: column;
                .tshoot();

                div {

                }

                .mid-box-text {
                    padding: 2rem;
                    
                    p {
                        font-size: 1.4rem;
                    }
                }

                div {
                    .fcenter();
                    

                    button {
                        margin: 2rem;
                    }
                }
            } //ends .mid-box-3
        } //ends .mid-boxes
    } // ends .mid-section

    .mid-banner {
        .tshoot();
        margin: 10rem;

        div {

            p {

            }
        }
    } // ends .mid-banner

    .skills-section {
        .tshoot();


        div {
            h2 {

            }
        }

        div {
            h2 {

            }
        }
        div {
            h2 {

            }
        }
    } //ends .skills-section
} // ends main