.tshoot() {
    border: 2px solid black;
}

.fcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-design (@background, @width: 200px, @primary: white) {
    display: block;
    background-color: @background;
    cursor: pointer;
    width: @width;
    height: 60px;
    font-size: 2rem;
    border-radius: 30px;
    color: @primary;

    @media @mobile {
        width: 100px;
    }

    &:hover{
        background-color: @primary;
        color: @background;
      }
    }