.tshoot() {
    border: 2px solid black;
}

.fcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-design (@background, @width: 200px, @primary: white) {
    display: block;
    background-color: @background;
    cursor: pointer;
    width: @width;
    height: 60px;
    font-size: 2rem;
    border-radius: 30px;
    color: @primary;

    @media @mobile {
        width: 100px;
    }

    &:hover{
        background-color: @primary;
        color: @background;
      }
    }

.cool-flip() {
        /* entire container, keeps perspective */
.flip-container {
    perspective: 500px;
    }
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    }
    
    .flip-container, .front, .back {
    width: 20rem;
    height: 20rem;
    }
    
    /* flip speed goes here */
    .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    }
    
    /* hide back of pane during swap */
    .front, .back {
    backface-visibility: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
    }
    
    /* front pane, placed above back */
    .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    }
    
    /* back, initially hidden pane */
    .back {
    transform: rotateY(180deg);
    }
}