
    .team-bios {
        .cool-flip();
        .fcenter();
        height: 70%;
        width: 100%;
        
        background-color: @background;

        .team-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            height: 45rem;
            margin: 5% 0;
            padding: 1%;
            background-color: white;
            border-radius: 3rem;
            box-shadow: 0px 10px 10px 2px grey;
            
            .Melissa {
                
                .melissa {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Connor {
                
                .connor {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Brendan {
                
                .brendan {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Gabriel {
                
                .gabriel {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Jeffrey {
                
                .jeffrey {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Ryan {
                
                    .ryan {
                        box-shadow: 0px 10px 10px 2px grey;
                        border: 1px solid black;
                    }

                    h3 {
                        text-align: center;
                        font-size: 2.5rem;
                    }
                }
            
            
        } // ends .team-container
    } // ends .team-bios

