
    .team-bios {
        .cool-flip();
        .fcenter();
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color: @background;

        @media @mobile {
            height: auto;
        }

        .teamTitle {
            h1 {
                font-family: @slabo;
                margin-top: 5rem;
            }
        }

        .team-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            height: 45rem;
            margin: 5% 0;
            padding: 1%;
            background-color: white;
            border-radius: 3rem;
            box-shadow: 0px 10px 10px 2px grey;

            @media (min-width: 1550px){
                height: 28rem;
            }

            @media @tablet {
                padding: 3%;
                height: 50rem;
            }

            @media @mobile {
                height: 70rem;
            }
            
            .Melissa {
                margin: 1%;

                .melissa {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                    width: 20rem;
                    height: 20rem;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Connor {
                margin: 1%;
                
                .connor {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                    width: 20rem;
                    height: 20rem;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Brendan {
                margin: 1%;
                
                .brendan {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                    width: 20rem;
                    height: 20rem;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Gabriel {
                margin: 1%;
                
                .gabriel {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                    width: 20rem;
                    height: 20rem;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Jeffrey {
                margin: 1%;
                
                .jeffrey {
                    box-shadow: 0px 10px 10px 2px grey;
                    border: 1px solid black;
                    width: 20rem;
                    height: 20rem;
                }

                h3 {
                    text-align: center;
                    font-size: 2.5rem;
                }
            }
        

            .Ryan {
                margin: 1%;
                
                    .ryan {
                        box-shadow: 0px 10px 10px 2px grey;
                        border: 1px solid black;
                        width: 20rem;
                        height: 20rem;
                    }

                    h3 {
                        text-align: center;
                        font-size: 2.5rem;
                    }
                }
            
            
        } // ends .team-container
    } // ends .team-bios

